.signupInput {
    background-color: #0F0F0F;
    display: flex;
    width: 368px;
    height: 48px;
    padding: 0px 16px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #FFF;
    color: rgba(255, 255, 255, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ECCDFB;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #0F0F0F;
}

.passcheck{
    color: #EF5858;
    visibility: hidden;
    display: block;
}
