
<div class="container">
    <ul class="login">
         <div class="container">
            <li class="login__item">
            <a name="/feed" href=""><img class="imgLogo" src="Logo.svg" alt=""></a>
            <div class="logoText">MusicOn</div>    
            </li>
         </div>
        <form method="post">
            {{#each items}}
            <li class="login__item">
                <input class="{{this.className}}" name="{{this.name}}" type="{{this.type}}" placeholder="{{this.name}}" required >
            </li> 
            {{/each}}
            <li class="login__item">
                <button class="SubmitLoginButton" type="submit">Войти</button>
            </li>
        
        </form>
        <li class="login__item">
            <div class="yet">
            Ещё нет учётной записи?
            <a name="/signup" class="yeta" href="/login">Зарегистрируйтесь</a>
            </div>
        </li>
        
        
    </ul>
</div>

    