.profile {
    margin-top: 3vh;
    display: grid;
    gap: 10px;
    position: relative;
    &__list {
        margin-top: 20px;
        display: grid;
        padding: 0px;
        margin-bottom: 15vh;
        gap: 20px;
    }
    &__item {
        display: grid;
        gap: 10px;
        vertical-align: middle;
        align-items: center;
    }
    &__photo {
        size: 230px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media screen and (max-width: 767px) {
    .profile__list {
        margin-left: 20px;
    }
}
