.player {
  background-color: #1e1e1e;
  position: absolute;
  width: 75%;
  min-width: 800px;
  &__container {
    display: inline-flex;
    gap: 30px;
    padding: 10px;
    padding-left: 30px;
  }
}

.progress-bar {
  background-color: #c0c0c0;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &__progress {
    background: #453b77;
    height: 6px;
  }
}

.volume-bar {
  border: none;
  height: 8px;
  width: 85px;
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  background: #666f7a;
  border-radius: 8px;
  accent-color: #453b77;
}

.volume-btn {
  position: absolute;
  right: 110px;
}

.player-btns {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.title {
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #1e1e1e;
}

.disabled {
  display: none;
}

.artistname:hover {
  color: #c15df3;
}

/* Стили для десктопных устройств (ширина экрана 768 пикселей и выше) */
@media screen and (min-width: 1200px) {
  .player {
    min-width: 800px;
  }
  .like-btn {
    display: block;
  }
  .shuffleBtn {
    display: block;
  }
  .nextBtn {
    display: block;
  }
  .loopBtn {
    display: block;
  }
  .prev-btn {
    display: block;
  }
  .footer {
    height: 50px;
  }
  .volume-btn {
    display: block;
  }
  .volume-bar {
    display: block;
  }
}

/* Стили для планшетов (ширина экрана от 481 пикселей до 767 пикселей) */
@media screen and (max-width: 1200px) {
  .player {
    min-width: 100%;
  }
  .like-btn {
    display: none;
  }
  .shuffleBtn {
    display: none;
  }
  .nextBtn {
    display: none;
  }
  .loopBtn {
    display: none;
  }
  .prev-btn {
    display: none;
  }
  .footer {
    height: 100px;  
  }
  .volume-btn {
    display: none;
  }
  .volume-bar {
    display: none;
  }
}

.mobile-player {
  display: none;
  z-index: 10000;
  background-color: #0d0b18;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  gap: 80px;
  transition: transform 0.3s ease-in-out;
  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  &__photo {
    width: 250px;
    height: 250px;
    margin: 40px;
    border-radius: 20px;
  }
  &__playbutton {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  &__progress {
    width: 80vw;
    height: 20px;
    cursor: pointer;
    accent-color: #c15df3;
  }
  &__volume {
    width: 70vw;
    height: 20px;
    cursor: pointer;
    accent-color: #c15df3;
  }
  &__volume-bar {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  &__progress-bar {
    position: relative;
  }
  &__current-time {
    position: absolute;
    left: 0;
  }
  &__remaining-time {
    position: absolute;
    right: 0;
  }
  &__volume-img {
    margin-top: 5px;
    width: 25px;
  }
  &__prev-img {
    margin-top: 5px;
    width: 35px;
  }
  &__next-img {
    margin-top: 5px;
    width: 35px;
  }
  &__info {
    &__name {
        color: #FFF;
        font-size: 46px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    &__artist {
        color: #c2c0c0;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
  }

}

.close-btn {
  position: absolute;
  top: 5%;
  left: 5%;
}

.footer {
    display: flex;
    position: fixed;
    left: 0px px;
    bottom: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.player__options {
  display: none;
  grid-gap: 10px;
  gap: 10px;
  max-width: 200px;
  background: #0D0B18;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  bottom: 110px;
    &__avaliablePlaylists {
        display: none;
        gap: 10px;
        &__name {
            cursor: pointer;
            margin-left: 10px;
        }
        &__name:hover {
            color: #C15DF3;
        }
    }

    &__add-to-playlist {
        cursor: pointer;
    }
    &__add-to-playlist:hover {
        color: #C15DF3;
    }
}

.mobile-player__options {
  display: none;
  grid-gap: 10px;
  gap: 10px;
  background: #1C1C1C;
  position: absolute;
  padding: 65px;
  max-width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  z-index: 1;
  &__avaliablePlaylists {
    display: none;
    gap: 10px;
    &__name {
        cursor: pointer;
        margin-left: 10px;
    }
    &__name:hover {
        color: #C15DF3;
    }
  }

  &__add-to-playlist {
      cursor: pointer;
  }
  &__add-to-playlist:hover {
      color: #C15DF3;
  }
  &__share {
    &__copied {
      display: none; 
      margin-left: 10px;
      padding: 5px;
      border-radius: 15px;
      width: fit-content;
    }
  }
}

.close-button {
  position: absolute;
  top: 25px;
  left: 5%;
}

.mobile-options__avaliablePlaylists {
    display: none;
    gap: 20px;
    &__name {
        cursor: pointer;
        margin-left: 10px;
        border-bottom: 2px solid white;
        padding: 15px;
    }
    &__name:hover {
        color: #C15DF3;
}
}