
.player {
    background-color: #1E1E1E;
    position: absolute;
    width: 75%;
    min-width: 800px;
}


.contentContainer {
    display: inline-flex;
    gap: 30px;
    padding: 10px;
    padding-left: 30px;
}

.progressBar {
    background-color: #666F7A;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .progress {
        background: #453B77;
        height: 6px;
    }
}



.volumeBar {
    background-color: #666F7A;
    width: 85px;
    height: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 5px;
    .volumee {
        background: #453B77;
        height: 6px;
        width: 0px;
    }
}

.volumeBtn {
    position: absolute;
    right: 110px;
}

.title {
    margin-bottom: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #1E1E1E;
}

.playerBtns {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}




.title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}

.artist {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}