.favPlaylists__create {
    display: flex;
    align-items: center;
    gap: 15px;
    right: 0;
    position: absolute;
    border: 2px solid white;
    width: fit-content;
    padding: 10px;
    top: 0;
    border-radius: 25px;
}

.favPlaylists {
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0px;
    position: relative;
    margin-bottom: 10vh;
}