.menu {
  display: grid;
  grid-template-areas: "links rest";
  grid-template-rows: 75% 25%;
  gap: 20px;
  margin-top: 3vh;
  height: 120px;
  &__links {
    text-decoration: none;
    justify-content: center;
    list-style: none;
    padding: 0px;
    grid-area: links;
    gap: 25px;
  }
  &__rest {
    text-decoration: none;
    justify-content: center;
    list-style: none;
    padding: 0px;
    display: flex;
    grid-area: rest;
    gap: 20px;
  }
  &__item {
    font-size: 24px;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
  }
}

.menu-item__link {
  cursor: pointer;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-item__link:hover {
  color: #c15df3;
}

.logo {
  display: contents;
  &__photo {
    size: 90px;
    cursor: pointer;
  }
  &__text {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    display: inline;
    cursor: pointer;
  }
}
.logoText {
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  display: inline;
}

.mini-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  &__avatar {
    border-radius: 50px;
    size: 60px;
    cursor: pointer;
    object-fit: cover;
  }
}

.magnifying-glass {
    cursor: pointer;
    width: 30px;
}

.mobile-menu {
    grid-area: links;
    gap: 15px;
    align-items: center;
}

.menu-active {
    display: grid;
}

.mobile-logo {
  display: contents;
  position: fixed;
  left: 20%;
  &__photo {
    size: 70px;
    cursor: pointer;
  }
}

.mobile-menu__links {
    background-color: linear-gradient(90deg, #5C4F9E 0%, #C15DF3 100%);
    border-radius: 10px;
    padding: 15px;
    gap: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 20%;
}

.mobile-menu-item__link {
  display: block;
  text-decoration: none;
  color: #1E1E1E;
  font-size: 18px;
  gap: 15px;
}

.mobile-menu-item__link:hover {
  color: #c15df3;
}

.menu-icon {
    cursor: pointer;
    margin-left: 8vw;
    padding: 10px;
    height: 35px;
    background: linear-gradient(90deg, #5C4F9E 0%, #C15DF3 100%);
    width: 30px;
    border-radius: 5px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-icon.close-icon .bar:nth-child(2) {
    display: none;
  }
  
  .menu-icon.close-icon .bar:first-child {
    transform: translate(0px, 10px) rotate(-45deg);
  }
  
  .menu-icon.close-icon .bar:last-child {
    transform: translate(0px, 1px) rotate(45deg);
  }
/* Стили для десктопных устройств (ширина экрана 768 пикселей и выше) */
@media screen and (min-width: 768px) {
    .menu-icon {
      display: none;
    }
    .menu__search-results {
      padding: 25px;
      min-width: 200px;
      max-width: 650px;
      height: fit-content;
      left: 28%;
      right: 20%;
    }
    .mobile-menu__links {
      display: none;
    }

    .mobile-menu {
        display: none !important;
      }
    .menu__links {
      display: flex;
    }
    .arrow {
      left: 25%;
    }
  }
  
  @media only screen and (min-width: 767px) and (max-width: 1200px) {
    .mobile-logo {
      left: 5%;
    }
    .arrow {
      left: 10%;
    }
  }

  /* Стили для планшетов (ширина экрана от 481 пикселей до 767 пикселей) */
  @media screen and (max-width: 767px) {
    .menu-icon {
      display: block;
    }
    .mobile-menu__links {
      display: none;
    }
    .menu__search-results {
      padding-right: 75px;
      padding-top: 25px;
      padding-left: 75px;
      height: 100%;
      align-items: center;
      left: 0;
      right: 0;
    }
    .mobile-menu {
        display: flex;
      }
    .menu__links {
        display: none !important;
    }
    .mobile-logo {
      left:4%;
    }
    .arrow {
      left: 10%;
    }
  }


.search-active {
    display: block;
}

.menu__logout-confirmation {
  position: fixed;
  z-index: 9999;
  background: #0D0B18;
  padding: 25px;
  border-radius: 15px;
  width: fit-content;
  gap: 25px;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout-confirmation__btn-bar {
  display: flex;
  justify-content: right;
  gap: 15px;
}

.logout-confirmation_active {
  display: grid;
}

.menu__search-results {
  background: rgb(21 18 31 / 70%);
  backdrop-filter: blur(40px);
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 10px;
  margin-top: 10px;
  display: none;
  gap: 10px;
  z-index: 1;
  &__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__link:hover {
    color: #C15DF3;
  }
  &__position {
    position: absolute;
    top: 10%;
    flex-direction: column;
  }
  &__loupe {
    size: 24px;
  }
  &__text {
    margin-top: 3px;
  }
}

.menu__search-results:hover {
  display: flex !important;
}

.search-list {
  display: grid;
  gap: 5px;
  &__item {
    padding: 20px;
    border-top: 1px solid rgb(255 255 255 / 10%);
  }

  &__link {

  }
  &__link:hover {
    color: #C15DF3;
  }
}

.arrow {
  position: absolute;
  cursor: pointer;
}