<div class="login">
    <ul class="authlist">
        <div class="logo authlist__logo">
            <li class="authlist__item">
                <div>
                    <img class="logo__photo" data-section="link" data-url="/feed/all" src="/static/img/Logo.svg" alt="">
                </div>
                <div class="logo__text" data-section="link" data-url="/feed/all">MusicOn</div>
            </li>
        </div>
        <form method="post">
            <li class="authlist__item">
                <input class="auth-input" data-section="email" type="email" placeholder="Email"
                    required>
            </li>
            <li class="authlist__item">
                <div style="display: block;">
                    <div class="authlist__error__disabled" data-section="passcheck">Такого пользователя не существует!</div>
                </div>
            </li>
            <li class="authlist__item">
                <button class="submit-big-button" type="submit">Готово</button>
            </li>
        </form>
    </ul>
</div>