.feed {
    margin-top: 6vh;
    display: grid;
    gap: 10px;
    position: relative;
    &__list {
        display: flex;
        gap: 20px;

    }
    &__title {
        margin: 10px 0 10px 0; 
    }
}