.album {
    margin-top: 6vh;
    display: grid;
    gap: 10px;
    position: relative;
    &__info {

    }
    &__list {
        
    }
}

.options {
    display: none;
    grid-gap: 10px;
    gap: 10px;
    background: #0D0B18;
    position: absolute;
    right: 7%;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    &__avaliablePlaylists {
        display: none;
        gap: 10px;
        &__name {
            cursor: pointer;
            margin-left: 10px;
        }
        &__name:hover {
            color: #C15DF3;
        }
    }

    &__add-to-playlist {
        cursor: pointer;
    }
    &__add-to-playlist:hover {
        color: #C15DF3;
    }
}