.onboard {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    gap: 35px;
    &__info {
        max-width: 270px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: fixed;
        top: 35%;
    }
    &__error {
        color: red !important;
        display: none;
    }
}

.active-genre {
    border: 2px solid white;
    border-radius: 100px;
}