.onboard {
    &__info {
    }
    &__error {
        color: red !important;
        display: none;
        &__active {
            display: block;
        }
        &__disabled {
            display: none;
        }
    }
}

.active-genre {
    border: 3px solid white;
    border-radius: 100px;
}


/* Стили для десктопных устройств (ширина экрана 768 пикселей и выше) */
@media screen and (min-width: 768px) {
    .onboard {
        display: flex;
        align-items: center;
        margin-top: 10vh;
        gap: 35px;
        &__info {
            max-width: 270px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            position: fixed;
            top: 35%;
        }
    }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
    .onboard {
        display: flex;
        align-items: center;
        margin-top: 10vh;
        flex-direction: column;
        gap: 35px;
        &__info {
            max-width: 270px;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
    }
}

/* Стили для планшетов (ширина экрана от 481 пикселей до 767 пикселей) */
@media screen and (max-width: 767px) {
    .onboard {
        display: flex;
        align-items: center;
        margin-top: 10vh;
        flex-direction: column;
        gap: 35px;
        &__info {
            max-width: 270px;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
    }
}
