.auth-input {
    background-color: #0F0F0F;
    display: flex;
    width: 368px;
    height: 48px;
    padding: 0px 16px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #FFF;
    color: rgba(255, 255, 255, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    border-color: #FFF;
}

.auth-wrong-input {
    background-color: #0F0F0F;
    display: flex;
    width: 368px;
    height: 48px;
    padding: 0px 16px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #FFF;
    color: rgba(255, 255, 255, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    border-color: #EF5858;
}

.input-search {
    background-color: #0F0F0F;
    height: 48px;
    width: 30vw;
    padding: 0px 16px;
    gap: 10px;
    display: none;
    border-radius: 12px;
    border: 1px solid #FFF;
    color: rgba(255, 255, 255, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 30%;
}

@media screen and (min-width: 768px) {
    .auth-input {
        width: 368px;
    }
    .auth-wrong-input {
        width: 368px;
    }
  }
  
/* Стили для планшетов (ширина экрана от 481 пикселей до 767 пикселей) */
@media screen and (max-width: 767px) {
    .auth-input {
        width: 65vw;
    }
    .auth-wrong-input {
        width: 65vw;
    }
}

@media screen and (max-width: 1200px) {
    .input-search {
        width: 20vw;
    }
}
