.albumlist {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap: 50px;
    padding-bottom: 150px;
    margin-bottom: 20vh;
    &__item {
        list-style-type: none;
        width: 200px;
    }
    &__image-container {
        position: relative;
        img {
            size: 200px;
            transition: opacity 0.3s;
            cursor: pointer;
            margin-bottom: 10px;
            float: left;
            border-radius: 10px;
        }
    }

    &__image-container:hover {
        opacity: 0.7;
        & .albumlist__playbutton {
            opacity: 1;
        }
    }

    &__playbutton {
        transform: translate(-50%, -50%);
        size: 60px;
        background-image: url(../../static/img/playButton.webp);
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s;
        cursor: pointer;
        &__position {
            position: absolute;
            top: 100px;
            left: 50%;
        }
    }
}

.albumlist-item {
    cursor: pointer;
    &__name {
        margin: 10px 0 10px 0;
        cursor: pointer;
        display: block;
    }
    &__name:hover {
        color:#C15DF3;
    }
    &__single {
        margin: 10px 0 10px 0;
        display: block;
    }
}

.albumlist-item:hover {
    color: #C15DF3;
}

.playlist {
    display: inline-block;
    margin-top: 20px;
    display: grid;
    flex-wrap: wrap;
    padding-bottom: 100px;
    gap: 30px;
    position: relative;
    &__item {
        display: flex;
        gap: 20px;
        padding: 10px;  
    }
    &__item:hover {
        background: #484848;
        & .playlist__playbutton {
            opacity: 1;
        }
        & .playlist-item__name {
            color: #C15DF3;
        }
        & .playlist-item__options__duration {
            opacity: 0;
        }
        & .playlist-item__options__img {
            opacity: 1;
        }
        & .playlist-item__options__like {
            opacity: 1;
        }
    }

    &__image-container {
        position: relative;
        img {
            size: 200px;
            transition: opacity 0.3s;
            cursor: pointer;
            margin-bottom: 10px;
            float: left;
            border-radius: 10px;
        }
    }

    &__image-container:hover {
        opacity: 0.7;
        & .playlist__playbutton {
            opacity: 1;
        }
    }

    &__index {
        width: 25px;
        content: counter(name);
        &__position {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }
    }

    &__index::before {
        counter-increment: index;
        content: counter(index);
    }

    &__playbutton {
        size: 30px;
        transform: translate(-50%, -50%);
        background-image: url(../../static/img/playButton.webp);
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s;
        cursor: pointer;
        &__position {
            position: absolute;
            left: 50%;
            top: 50%;
        }
    }

    &__photo {
        margin-top: 5px;
        size: 40px;
    }
}

.playlist-item {
    cursor: pointer;
    &__name {
        margin: 10px 0 10px 0;
        cursor: pointer;
    }
    &__options {
        margin: 10px 10px 10px 0;
        position: absolute;
        right: 0;
        &__img {
            position: absolute;
            top: -20%;
            right: 10%;
            cursor: pointer;
            opacity: 0;
            &__photo {
                box-sizing: border-box;
                padding: 10px;
                border-radius: 100px;
                border: 1px solid white;
            }
            &__like {
                box-sizing: border-box;
                padding: 5px;
            }
        }
        &__like {
            position: absolute;
            top: -100%;
            cursor: pointer;
            padding: 10px;
            right: 0;
            margin-right: 50px;
            opacity: 0;
        }
    }
}


.authlist {
    &__logo {
        display: flex;
        justify-content: center;
    }
    &__item {
        &__auth {
            gap: 20px;
            vertical-align: middle;
            margin: 15px;
            display: flex;
            flex-direction: column;
        }
        vertical-align: middle;
        margin: 15px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &__error {
        &__active {
            color: #EF5858;
            visibility: visible;
            display: block;
            max-width: 400px;
        }
        &__disabled {
            color: #EF5858;
            visibility: hidden;
            display: block;
            max-width: 400px;
        }
    }
}

.authlist-item {
    &__yet {
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__yet-link {
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        display: inline-block;
        cursor: pointer;
    }
    &__yet-link:hover {
        color:#C15DF3;
    }
}



.collection__list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap: 35px;
}

.collection-list__item {
    cursor: pointer;
}

.collection-list__item:hover {
    color: #C15DF3;
}

.onboard__list {
    display: flex;
    margin-top: 20px;
    padding: 0px;
    margin-bottom: 150px;
    gap: 35px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-left: 320px;
    &__item {
        width: min-content;
        &__photo {
            size: 160px;
            cursor:pointer;
            border-radius: 50px;
        }
    }
}

/* Стили для десктопных устройств (ширина экрана 768 пикселей и выше) */
@media screen and (min-width: 768px) {
    .onboard__list {
        flex-wrap: wrap;
        position: relative;
        margin-left: 320px;
        &__item {
            &__photo {
                size: 160px;
                border-radius: 100px;
            }
        }
    }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
    .onboard__list {
        flex-wrap: wrap;
        position: relative;
        margin-left: 320px;
        &__item {
            &__photo {
                margin-top: 5px;
                size: 160px;
                border-radius: 100px;
            }
        }
    }
}

/* Стили для планшетов (ширина экрана от 481 пикселей до 767 пикселей) */
@media screen and (max-width: 767px) {
    .onboard__list {
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        &__item {
            width: 110px;
            &__photo {
                size: 110px;
                border-radius: 50px;
            }
        }
    }
}