/* 
@media screen and (min-width: 768px) {
  .player {
    min-width: 800px;
  }
  .input-search {
    display: block;
  }
  .menu-icon {
    display: none;
  }

  .mobile-menu__links {
    display: none;
  }
  .menu__links {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu-icon {
    display: block;
  }
  .mobile-menu__links {
    display: none;
  }
  .player {
    min-width: 100%;
  }
  .input-search {
    display: none;
  }
  .menu__links {
    display: none;
  }
} */

