body {
    background-image: url("../../static/img/wave.webp"), url("../../static/img/background.webp");
    font-family: 'Source Sans Pro', 'Montserrat', sans-serif;
    counter-reset: index;
    background-repeat: repeat-x, repeat;
    background-size: 2000px 1100px;
}

main {
    grid-area: content;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    main {
        min-width: 810px;
    }
  }
  
  /* Стили для планшетов (ширина экрана от 481 пикселей до 767 пикселей) */
  @media screen and (max-width: 767px) {
    main {
        min-width: 500px;
    }
  }
h1 {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2 {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input:focus {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #FFF;
    color: #ECCDFB;

    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ECCDFB;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #0F0F0F;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
}

footer {
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}