.loginContainer {
    display: flex;
    justify-content:center;
}

.login {
    display: flexbox;
    list-style: none;
    padding: 0;
    margin: 0;
}

.loginItem {
    vertical-align: middle;
    margin: 15px;
    align-items: center;
    display: flex;
}




