.artist {
    margin-top: 2vh;
    display: grid;
    gap: 10px;
    position: relative;
    &__info {
        margin-bottom: 30px;
    }
    &__title {
        margin: 40px 0 10px 10px;
    }
    &__list {
        margin-bottom: 0px;
    }
    &__tracks {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

