.artistPhoto{
    width: 190px;
    height: 190px;
    border-radius: 100px;
}

.songPhoto {
    width: 40px;
    height: 40px;
}

.index {
    width: 25px;
    content: counter(name);
}

.index::before {
    counter-increment: index;
    content: counter(index);
}

.ArtistSongs {
    gap: 20px;
    display: grid;
}

.artist {
    display: flex;
    gap: 20px;
}
