@import './css/normalize.css';
@import './css/tags.css';
@import './css/buttons.css';
@import './css/inputs.css';
@import './css/lists.css';
@import './css/media.css';
@import './Components/HeaderComponent/HeaderComponent.css';
@import './Components/PlayerComponent/PlayerComponent.css';
@import './Components/FeedComponent/FeedComponent.css';
@import './Components/LoginComponent/LoginComponent.css';
@import './Components/SignUpComponent/SignUpComponent.css';
@import './Components/FavArtistsComponent/FavArtistsComponent.css';
@import './Components/FavAlbumsComponent/FavAlbumsComponent.css'; 
@import './Components/FavTracksComponent/FavTracksComponent.css';
@import './Components/FavPlaylistsComponent/FavPlaylistsComponent.css';
@import './Components/AlbumComponent/AlbumComponent.css';
@import './Components/ArtistComponent/ArtistComponent.css';
@import './Components/ProfileComponent/ProfileComponent.css';
@import './Components/SearchComponent/SearchComponent.css';
@import './Components/GenresOnboardComponent/GenresOnboardComponent.css';
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500&display=swap');

#root {
    display: grid;
    grid-template-areas:
        "header"
        "content";
    grid-template-rows: 90px 1fr;
}

.active {
    color: #C15DF3;
}

.activeinnerlink {
    color: #C15DF3;
}

.small-text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.medium-text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
}

.big-text {
    color: #FFF;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.large-text {
    color: #FFF;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* Стили для десктопных устройств (ширина экрана 768 пикселей и выше) */
@media only screen and (min-width: 768px) {
    .small-text {
        font-size: 14px;
    }
    
    .medium-text {
        font-size: 16px;
    }
    
    .big-text {
        font-size: 36px;
    }
    
    .large-text {
        font-size: 48px;
    }
  }
  
  /* Стили для планшетов (ширина экрана от 481 пикселей до 767 пикселей) */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
  }
  
  /* Стили для мобильных устройств (ширина экрана до 480 пикселей) */
  @media only screen and (max-width: 480px) {
    .playButton {
        display: none;
    }
    .small-text {
        font-size: 18px;
    }
    
    .medium-text {
        font-size: 22px;
    }
    
    .big-text {
        font-size: 36px;
    }
    
    .large-text {
        font-size: 52px;
    }
  }

.info {
    display: flex;
    gap: 20px;
    align-items: center;
    &__photo {
        border-radius: 10px;
        size: 230px;
        object-fit: cover;
    }

    &__name {
        word-wrap: break-word;
        display: inline;
    }
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}



@media screen and (min-width: 768px) {
    .info {
        display: flex;
    }
    .playlist-item__options__img {
        opacity: 0;
    }
    .playlist-item__options__duration {
        opacity: 1;
    }
  }
  
/* Стили для планшетов (ширина экрана от 481 пикселей до 767 пикселей) */
@media screen and (max-width: 767px) {
    .info {
        display: grid;
        justify-content: left;
        margin-left: 20px;
    }
    .info__photo {
        size: 300px;
    }
    .playlist-item__options__img {
        opacity: 1;
    }
    .playlist-item__options__duration {
        opacity: 0;
    }
}
