<div class="login">
    <ul class="authlist">
        <div class="logo authlist__logo">
            <li class="authlist__item">
                <div>
                    <img class="logo__photo" data-section="link" data-url="/feed/all" src="/static/img/Logo.svg" alt="">
                </div>
                <div class="logo__text" data-section="link" data-url="/feed/all">MusicOn</div>
            </li>
        </div>
        <form method="post">
            <li class="authlist__item">
                <div class="medium-text">Пароль</div>
                <input class="auth-input" data-section="password" type="password" placeholder="Пароль"
                    required>
            </li>
            <li class="authlist__item">
                <div class="medium-text">Повторите пароль</div>
                <input class="auth-input" data-section="passwordCheck" type="password" placeholder="Повторите пароль"
                    required>
            </li>
            <li class="authlist__item">
                <div style="display: block;">
                    <div class="authlist__error__disabled" data-section="passcheck">Пароли не совпадают!</div>
                    <div class="authlist__error__disabled" data-section="lengthPassword">Пароль (от 6 до 30 символов)</div>
                </div>
            </li>
            <li class="authlist__item">
                <button class="submit-big-button" type="submit">Сохранить</button>
            </li>
        </form>
    </ul>
</div>